<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="container">-->
<!--<form role="form" class="form-horizontal">-->
<!--<div class="form-group">-->
<!--<label for="email" class="control-label col-md-2">E-mail</label>-->
<!--<div class="col-md-10">-->
<!--<input type="email" class="form-control" id="email" placeholder="Введите e-mail">-->
<!--</div>-->
<!--&lt;!&ndash;<p class="help-block">Подсказка</p>&ndash;&gt;-->
<!--</div>-->
<!--<select class="form-control">-->
<!--<option>1</option>-->
<!--<option>2</option>-->
<!--<option>3</option>-->
<!--</select>-->
<!--<div class="radio-inline">-->
<!--<label>-->
<!--<input type="radio" name="optionsRadio" id="radio1" value="option1" checked>-->
<!--Первый элемент-->
<!--</label>-->
<!--</div>-->
<!--<div class="radio-inline">-->
<!--<label>-->
<!--<input type="radio" name="optionsRadio" id="radio2" value="option2">-->
<!--Второй элемент-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password" class="control-label col-md-2">Пароль</label>-->
<!--<div class="col-md-10">-->
<!--<input type="password" class="form-control" id="password" placeholder="Введите пароль">-->
<!--</div>-->
<!--</div>-->
<!--<div class="checkbox">-->
<!--<label for="password">-->
<!--<input type="checkbox">CheckBox-->
<!--</label>-->
<!--</div>-->
<!--<button type="button" class="btn btn-success">Регистрация</button>-->
<!--</form>-->
<!--</div>-->
<div class="navbar navbar-inverse navbar-fixit-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Войти</button>
      </form>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>Запуск фриланс-клуба</h1>
    <p>Недавно в рамках творческого эксперимента мы на «Фрилансим» открыли Клуб — место для общения фрилансеров и
      заказчиков.
      Клуб состоит из двух разделов: новости сервиса и беседка. В новостях мы рассказываем о нововведениях, полезных
      фичах и планах.
      Материалы публикуются исключительно администрацией ресурса. Беседка предназначена для вопросов и предложений по
      работе сервиса,
      в ней можно рассказать про опыт работы с конкретным заказчиком или обсудить насущные вопросы с коллегами по
      цеху.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Узнать болье &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Блеск и нищета Java для настольных систем</h2>
      <p>Вы не поверите, но в 2018 году всё ещё нужно разрабатывать Desktop приложения.

        Представьте себе такой клуб анонимных Java программистов, запойных и беспробудных, которые сидят и делятся
        своими
        проблемами.

        — Здравствуйте, меня зовут Юрий, я пишу Desktop приложения в 2018 году.
        — Здравствуй, Юрий, давайте ему похлопаем, он смог поделиться своей проблемой!

        Да, действительно, мы всё ещё пишем Desktop приложения. Обычно, не очень хочется этим заниматься, чаще всего это
        legacy проекты. Но бывает, что нужно писать и новые настольные приложения.

        Зачем мы всё ещё это делаем, если есть web с его новыми продвинутыми возможностями: Progressive Web Apps,
        Service
        Worker, Web RTC, Web GL и т.д?</p>
      <p><a href="#" class="btn btn-primary btn-lg">Узнать болье &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Как загрузить нестандартный лог в Splunk + логи Fortinet</h2>
      <p>Много ли мы генерируем данных, используя информационные системы каждый день? Огромное количество! Но знаем ли
        мы
        все возможности по работе с такими данными? Определенно, нет! В рамках этой статьи мы расскажем какие типы
        данных
        мы можем загружать для дальнейшего операционного анализа в Splunk, а также покажем как подключить загрузку логов
        Fortinet и логов нестандартной структуры, которые необходимо разделять на поля вручную.</p>
      <p><a href="#" class="btn btn-primary btn-lg">Узнать болье &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Как настроить различные уведомления о проблемах с сайтом</h2>
      <p>Наверное, все сталкивались с табличками «Ушел на 10 минут», «Скоро буду» или, что еще страшнее — «Переучет» на
        дверях различных заведений. Можно представить, сколько прибыли недополучили собственники такого бизнеса из-за
        пресловутого человеческого фактора. Но вот посчитать — сложно. В сети же к банальному человеческому желанию не
        работать добавляются и вещи поинтереснее. И оценить потери — задача, посильная для автоматизации. Какие же это
        потери и как их избежать? Как вовремя заметить проблему с важным сайтом и перестать терять посетителей?</p>
      <p><a href="#" class="btn btn-primary btn-lg">Узнать болье &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; Все права защищены</p>
  </footer>
</div>
